.header{
	@include tablet{
		max-width: 92.4rem;
		margin-top: 2.5rem;
	}
	@include mobile{
		margin-top: 2rem;
	}
    &-main{
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        gap: 8.5rem;
        align-items: center;
		&-logo-white,&-logo-black{
			width: 14rem;
			height: 7rem;
			display: none;
			@include tablet{
				width: 13rem;
				height: 6.8rem;
			}
		}
		&-items{
			display: grid;
			grid-auto-rows: max-content;
			gap: 1rem;
			&-top{
				display: grid;
				grid-template-columns: repeat(3, max-content) 1fr;
				gap: 4rem;
				@include tablet{
					gap: 2.6rem;
					grid-auto-flow: column;
					grid-template-columns: unset;
				}
				@include mobile{
					display: none;
				}
				&-item{
					font-weight: 300;
					font-size: 1.3rem;
					display: flex;
					align-items: center;
					justify-content: end;
					gap: 1rem;
					@include tablet{
						align-items: flex-start;
					}
					img{
						width: 2.2rem;
						height: auto;
						display: none;
						@include tablet{
							width: 1.3rem;
							margin-top: .3rem;
						}
					}
					&:nth-of-type(3){
						img{
							width: 2rem;
							@include tablet{
								width: 1.3rem;
							}
						}
					}
				}
			}
			ul{
				display: flex;
				position: relative;
				justify-content: space-between;
				width: 100%;
				@include tablet{
					display: none;
				}
				li{
					a{
						font-weight: 600;
						font-size: 1.8rem;
						letter-spacing: 0.05em;
						display: flex;
    					align-items: center;
						gap: 1.2rem;
						img{
							display: none;
							width: 2.5rem;
							height: 2.5rem;
						}
					}
				}
			}
		}
		.btn{
			@include tablet{
				display: none;
			}
		}
		.open-menu{
			display: none;
			@include tablet{
				display: block;
				background: none;
			}
			img{
				width: 3.5rem;
				height: 2rem;
			}
		}
    }
}

.header.black{
	color: #252736;
	.black{
		display: inline;
	}
	ul li a{
		color: #252736;
	}
}
.header.white{
	color: #fff;
	.white{
		display: inline;
	}
	ul li a{
		color: #fff;
	}
}

.header.absolute{
	left: 50%;
	top: 1.1rem;
	transform: translate(-50%, 0);
	z-index: 10;
	position: absolute;
}