.modal{
    display: none;
    background: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    @include mobile{
        padding: 1.5rem;
    }
    &-window{
        background: #252736;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
        padding-top: 10.8rem;
        padding: 10.8rem 8rem 4.8rem;
        position: relative;
        @include mobile{
            padding: 7rem 1.5rem;
        }
        .close{
            position: absolute;
            right: 2.5rem;
            top: 2.5rem;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            background: none;
            svg{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
        h2{
            font-family: Libre Caslon Display;
            font-size: 3rem;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 1.8rem;
            @include mobile{
                font-size: 2rem;
                margin-bottom: 2.5rem;
            }
        }
        p{
            font-weight: 300;
            font-size: 1.8rem;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 1.5rem;
            @include mobile{
                font-size: 1.6rem;
                margin-bottom: 3.5rem;
            }
        }
        input{
            width: 100%;
            height: 6rem;
            padding: 0 2rem;
            font-size: 1.6rem;
            font-family: Open Sans;
        }
        textarea{
            width: 100%;
            height: 15.6rem;
            padding: 1.5rem 2rem;
            font-size: 1.6rem;
            font-family: Open Sans;
        }
        .form-1{
            display: grid;
            grid-auto-rows: max-content;
            gap: 1.5rem;
            .btn{
                margin: 0;
                margin-top: .3rem;
                justify-self: center;
                @include mobile{
                    width: 100%;
                }
            }
            span{
                font-family: Open Sans;
                font-weight: 300;
                font-size: 1.2rem;
                text-align: center;
                color: #FFFFFF;
                @include mobile{
                    margin-top: 3rem;
                }
            }
        }
    }
    &-window._1{
        max-width: 66.7rem;
    }
    &-window._2{
        max-width: 88rem;
        h2{
            text-align: left;
            font-size: 2.7rem;
            @include mobile{
                font-size: 2rem;
                text-align: center;
                max-width: 31.2rem;
                margin: 0 auto;
                margin-bottom: 2.5rem;
            }
        }
        p{
            text-align: left;
        }
        .center{
            gap: 2.5rem;
            margin-bottom: 7.8rem;
            button{
                font-size: 2rem;
                padding: 1.5rem 2rem;
                cursor: pointer;
                height: 6rem;
                min-width: 16rem;
                &:nth-of-type(1){
                    background: #FFFFFF;
                    color: #2659F6;
                }
                @include mobile{
                    width: 100%;
                }
            }
        }
        .line{
            height: .1rem;
            background: #A0A0A0;
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 16rem;
        }
    }
    &-footer{
        display: flex;
        justify-content: space-between;
        .item{
            font-family: Open Sans;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 30px;
            color: #FFFFFF;
            display: grid;
            gap: 1.3rem;
            svg{
                width: 9rem;
                height: 2.5rem;
            }
        }
    }
    &-menu{
        position: fixed;
        right: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: .85);
        padding: 4rem 5rem 4rem 3.2rem;
        z-index: 10;
        height: 100vh;
        width: 36.8rem;
        display: grid;
        grid-template-rows: 1fr max-content;
        gap: 2.5rem;
        visibility: hidden;
        @include mobile{
            width: 100vw;
            padding: 4.1rem 1.5rem 3rem;
        }
        img.black{
            display: none;
        }
        ul.menu{
            margin-top: 8rem;
            display: grid;
            grid-auto-rows: max-content;
            gap: 2rem;
            li{
                text-align: end;
                @include mobile{
                    text-align: center;
                }
                a{
                    font-weight: 600;
                    font-size: 1.8rem;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    @include mobile{
                        font-size: 1.6rem;
                    }
                }
            }
            li.tel{
                display: none;
                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
            .current-menu-item a{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -.5rem;
                    height: 4px;
                    width: 100%;
                    left: 0;
                    background: #2962FF;
                }
            }
            ul.sub-menu{
                margin-top: 2rem;
                display: grid;
                grid-auto-rows: max-content;
                gap: 1.5rem;
                display: none;
                li a{
                    font-size: 1.6rem;
                    font-weight: normal;
                    @include mobile{
                        font-size: 1.4rem;
                    }
                }
            }
            ul.sub-menu.open{
                display: grid;
            }
        }
        button.close{
            position: absolute;
            right: 5rem;
            top: 4.2rem;
            width: 2.5rem;
            height: 2.5rem;
            background: none;
            @include mobile{
                right: 1.5rem;
            }
            svg{
                width: 100%;
            }
            &::after{
                position: absolute;
                content: "";
                bottom: -2.2rem;
                width: 28.6rem;
                right: 0rem;
                background: #fff;
                height: 1px;
                @include mobile{
                    width: 35.5rem;
                }
                
            }
        }
        .btn{
            justify-self: end;
            margin: 0;
            width: 17.4rem;
            height: 5rem;
            @include mobile{
                justify-self: center;
            }
        }
        .tel{
            display: flex;
            align-items: center;
            justify-content: end;
            font-weight: 600;
            font-size: 1.8rem;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            gap: .8rem;
            @include mobile{
                text-align: center;
                justify-content: center;
            }
        }
    }
    &-menu.show{
        visibility: visible;
    }
}
.modal.show{
    display: flex;
}