@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap);html {
  font-size: 0.39vw;
}
@media only screen and (max-width: 1980px) {
  html {
    font-size: 0.52vw;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 0.62vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 2.6vw;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 1.8rem;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  position: relative;
  background: #252736;
  overflow-x: hidden;
}

.container {
  max-width: 134rem;
  margin: auto;
  width: 100%;
}

<<<<<<< HEAD
.content {
  color: #FFFFFF;
}
.content h2 {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: #FFFFFF;
}
.content .alignright {
  float: right;
}
.content .alignleft {
  float: left;
}

.btn {
  background: #2962FF;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
  padding: 1rem 4.6rem;
  cursor: pointer;
  margin: 2.4rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.title-h2 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title-h2.center {
  text-align: center;
}

.title-h2.white {
  color: #FFFFFF;
}

.title-h2.black {
  color: #252736;
}

.title-h2.large {
  font-size: 4rem;
}

.center {
  display: flex;
  justify-content: center;
}

body {
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.wrapper {
  width: 1920px;
  overflow: hidden;
  margin: 0;
}

.title {
  width: 100%;
  max-width: 1920px;
  background: url("img/header/title-bg.png") no-repeat;
  background-color: #252736;
  /*transform: rotate(-4.6deg);*/
  height: 100%;
  height: 929.5px;
  padding-top: 8.5px;
}
.title:after {
  content: "";
  display: block;
  position: relative;
  top: 31.7%;
  left: -5%;
  width: 2500px;
  height: 200px;
  transform: rotate(5.1deg);
  background-color: #fff;
}

.header-top {
  display: flex;
  max-width: 904px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.header-top li {
  list-style: none;
}
.header-top .header-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 683px;
  width: 100%;
  margin-left: 0.7%;
}
.header-top .header-contacts p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}
.header-top .header-contacts div {
  display: flex;
  align-items: center;
}
.header-top .header-contacts .map img {
  width: 22px;
  height: 22px;
  margin-right: 3px;
}
.header-top .header-contacts .clock {
  margin-right: 2.2%;
}
.header-top .header-contacts .clock img {
  width: 15px;
  height: 15px;
  margin-right: 11.85px;
}
.header-top .header-contacts .mail img {
  width: 13.75px;
  height: 11px;
  margin-right: 8.25px;
}
.header-top .lang {
  display: flex;
}
.header-top .lang p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}
.header-top .lang p:nth-child(2) {
  margin: 0 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .title-logo-img {
  position: relative;
  top: -11px;
}
.header .menu {
  display: flex;
  max-width: 659px;
  top: -8px;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin-left: -1%;
}
.header .menu .menu-item {
  list-style: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.header .tel {
  display: flex;
  width: 100%;
  max-width: 390px;
  justify-content: space-between;
  top: -6px;
  position: relative;
}
.header .tel .tel-div {
  display: flex;
  align-items: center;
}
.header .tel .tel-div img {
  width: 20px;
  height: 20px;
}
.header .tel p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 10px;
}
.header .tel .tel-btn {
  width: 100%;
  max-width: 174px;
  height: 100%;
  max-height: 50px;
  padding: 10px 0 10px;
  position: relative;
  top: -2px;
  left: -2px;
  background-color: #2962FF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20.7px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: -0.3px;
}

.main-title {
  margin: 11.8% 0 0 8.4%;
}
.main-title .main-title-text {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 115px;
  color: #FFFFFF;
  max-width: 150px;
}
.main-title .main-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 22.4px;
  margin-left: 67px;
}
.main-title .main-subtitle:before {
  content: "";
  display: block;
  position: relative;
  top: 19px;
  left: -67px;
  width: 34px;
  height: 2px;
  border: 1px solid #2962FF;
  background-color: #2962FF;
}

.about {
  position: relative;
  z-index: 1;
  max-height: 427px;
}
.about .container {
  display: flex;
  justify-content: space-between;
}
.about .about-img {
  position: relative;
  top: -208px;
  left: -4px;
}
.about .about-text {
  max-width: 656px;
  margin-top: 23px;
}
.about .about-text .about-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
}
.about .about-text .about-text-p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #252736;
  margin-left: 2px;
}
.about .about-text .about-text-p p:first-child {
  margin-top: 44px;
}
.about .about-text .about-text-p p:last-child {
  margin-top: 29px;
}
.about .about-text .btn-about {
  margin-top: 53px;
  margin-left: 2px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  max-width: 198px;
  padding: 10px 0;
  background-color: #2962FF;
}

.story {
  margin-top: 73px;
}

.story-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
}

.story-blocks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  margin-top: 2.05%;
}
.story-blocks .story-item {
  width: 19.8rem;
  position: relative;
  text-align: left;
}
.story-blocks .story-item h3 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #2962FF;
}
.story-blocks .story-item h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: #252736;
  margin-top: 1.3rem;
  min-height: 5.3rem;
}
.story-blocks .story-item p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  color: #252736;
}
.story-blocks .story-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 1.3rem;
  width: 14rem;
  background: #2962FF;
  height: 0.1rem;
}

.service {
  background-color: #252736;
  margin-top: 95px;
}

.service-container {
  padding-top: 109.5px;
  display: flex;
  justify-content: space-between;
}

.service-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.service-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 28px;
}

.service-title-colum2 {
  max-width: 757px;
  margin-right: 4px;
}

.service-title-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.review-container-title {
  display: flex;
  justify-content: space-between;
}
.review-container-title .review-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  max-width: 281px;
  margin: 0 0 0 2px;
}

.reviews-title-info {
  display: flex;
  justify-content: space-between;
  margin-right: 9.8%;
  width: 100%;
  max-width: 642px;
  margin-top: -1px;
}

.info-item h3 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 68px;
  text-transform: uppercase;
  color: #2962FF;
}
.info-item p {
  margin-top: 11px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #252736;
  max-width: 180px;
}

.reviews-container {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}
.reviews-container .review-item {
  height: 243px;
  width: 100%;
  width: 427px;
}

.stars {
  margin-top: 11px;
  margin-left: 27px;
}
.stars:before {
  content: "";
  display: block;
  position: relative;
  top: 24px;
  left: -29px;
  width: 3px;
  height: 30px;
  background-color: #2962FF;
}
.stars img {
  margin: 0 0.5px;
}

.review-item-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #252736;
  max-width: 367px;
  margin: 12px auto 0;
}

.author {
  display: flex;
  justify-content: space-between;
  max-width: 367px;
  margin: 15px auto 0;
  align-items: center;
}
.author .name {
  display: flex;
  align-items: center;
}
.author .name img {
  width: 60px;
  height: 60px;
}
.author .name p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #252736;
  margin-left: 12px;
}

.btns-review {
  display: flex;
  justify-content: space-between;
  margin: 42px auto 0;
  text-align: center;
  width: 100%;
  max-width: 550px;
}
.btns-review .btn1,
.btns-review .btn2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  width: 260px;
  padding: 14px 0;
}
.btns-review .btn1 {
  color: #2962FF;
  border: 1px solid #2962FF;
  box-sizing: border-box;
}
.btns-review .btn2 {
  color: #fff;
  background-color: #2962FF;
}

.down-p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #252736;
  opacity: 0.5;
}

.review .down-p {
  margin-top: 63px;
}

.gallary {
  background-color: #252736;
  margin-top: 56px;
  padding-bottom: 85px;
}
.gallary .gallary-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 91px;
}
.gallary .gallary-container {
  width: 100%;
  max-width: 1341px;
  display: flex;
  justify-content: space-between;
  margin: 49px 0 0 -20px;
}
.gallary .gallary-column img {
  width: 489px;
  height: 340px;
  margin: 0;
}
.gallary .gallary-column img:last-child {
  margin-top: -38px;
}
.gallary .gallary-columns {
  display: flex;
  margin-left: -31.7px;
  margin-top: -1px;
}
.gallary .gallary-columns img:last-child {
  margin-left: -31.7px;
}
.gallary .btn-gallary {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #2659F6;
  color: #FFFFFF;
  max-width: 179px;
  margin: -4px auto 0;
  padding: 17px 0 15px;
}

.blog-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  margin-top: 91px;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  margin: 39px 0 0 1px;
}
.blog-container .blog-item:nth-child(2) {
  margin-left: 0.5%;
}
.blog-container .blog-item:nth-child(3) {
  margin-right: -2%;
}
.blog-container .blog-item img {
  width: 427px;
  height: 278px;
}
.blog-container .blog-item .blog-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #252736;
  max-width: 380px;
  margin-top: 35px;
  margin-left: 26px;
}
.blog-container .blog-item .blog-subtitle:after {
  content: "";
  display: block;
  position: relative;
  top: -45px;
  left: -30px;
  width: 3px;
  height: 30px;
  background-color: #2962FF;
}
.blog-container .blog-item .blog-date {
  position: relative;
  left: 25px;
  top: -24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #252736;
}
.blog-container .blog-item .blog-text {
  margin-left: 25px;
  margin-top: -7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #252736;
}
.blog-container .blog-item .btn-full {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #252736;
  margin-left: 25px;
  margin-top: 24px;
}
.blog-container .blog-item .btn-full:after {
  content: "";
  display: block;
  position: relative;
  top: -2px;
  left: 0px;
  width: 170px;
  height: 1px;
  border: 0px solid #2962FF;
  background-color: #2962FF;
}

.blog-btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2455EC;
  max-width: 228px;
  margin: 95px auto 0;
  padding: 15px 0;
}

.form-container {
  display: flex;
  justify-content: flex-end;
}

.form-column {
  max-width: 427px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 668px;
  margin-top: 14.3%;
  margin-right: 4%;
}

.form-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 70px;
}

.form {
  background-color: #252736;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
  height: 992px;
}

.form-text-container {
  margin-top: -33px;
  margin-bottom: 48px;
}
.form-text-container .form-text:last-child {
  margin-top: 18px;
}

.input-standart {
  width: 427px;
  height: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #CCCCCC;
}

.input-textaerea {
  width: 427px;
  height: 156px;
  resize: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #CCCCCC;
}

.form-submit {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background: #2962FF;
  padding: 13px 0;
}

.form-column-2 {
  position: relative;
  left: -24px;
  top: 68px;
  z-index: 0;
}

.articolo-top {
  position: relative;
  padding: 5.5rem 0;
}
.articolo-top h1 {
  font-family: "Libre";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 90rem;
}
.articolo .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.articolo-content {
  padding: 3rem 0;
}
.articolo-content .date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.articolo-content .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articolo-content .nav a {
  font-size: 20px;
  color: #FFFFFF;
}
.articolo-content .nav a svg {
  margin: 0 1.5rem;
}
.articolo-content .nav a.left {
  color: #646464;
}
.articolo-news {
  margin-top: 7.7rem;
}
.articolo-news h2 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-me-top h1 {
  margin-top: 8.8rem;
  margin-bottom: 6.8rem;
  font-family: Libre Caslon Display;
  font-size: 4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about-me-top-grid {
  display: grid;
  grid-template-columns: 54rem 1fr;
  gap: 15rem;
}
.about-me-top-grid img {
  width: 100%;
  height: 59rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-me-top-grid .content {
  margin-top: 4rem;
}
.about-me-story {
  text-align: center;
}
.about-me-story h2, .about-me-story h5, .about-me-story p {
  color: #FFFFFF !important;
}
.about-me-story .btn {
  justify-self: center;
  justify-content: center;
}
.about-me-full {
  margin-top: 12rem;
  position: relative;
  padding-bottom: 15rem;
}
.about-me-full-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: #FFFFFF;
  transform: rotate(5deg);
  overflow: hidden;
  width: 120%;
  margin-left: -10%;
}
.about-me-full-bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-me-full-content {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
}
.about-me-full-content-grid {
  display: grid;
  grid-template-columns: 65rem 1fr;
  gap: 14.6rem;
}
.about-me-full-content-grid .content {
  color: #252736;
}
.about-me-full-content-grid .right h3 {
  font-weight: normal;
  font-size: 2.2rem;
  color: #252736;
  margin-bottom: 4rem;
}
.about-me-full-content-grid .right p {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about-me-full-content h2 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  max-width: 65rem;
  margin-bottom: 2.4rem;
}
.about-me-cert {
  background: #252736;
  z-index: 2;
  position: relative;
  padding: 9rem 0;
  margin-top: -8rem;
}
.about-me-cert h2 {
  color: #FFFFFF;
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5rem;
}
.about-me-cert-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.about-me-cert-items img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 58rem;
}
.about-me-blog {
  position: relative;
  padding: 10rem 0;
  margin-top: 5rem;
}
.about-me-blog-bg {
  background: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  margin-left: -10%;
  height: 100%;
  z-index: 2;
  transform: rotate(5deg);
}
.about-me-blog-content {
  position: relative;
  z-index: 3;
}
.about-me-blog-content h2 {
  margin-bottom: 3.9rem;
}
.about-me-blog-content .bottom {
  margin-top: 9.6rem;
}
=======
.gallery {
  width: 100%;
  height: 100%;
  padding: 0 5rem 0 5rem;
  margin-bottom: 10.5rem;
}

.gallery__container {
  width: 100%;
  height: 100%;
}

.gallery__title {
  font-family: "Libre Caslon";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  margin-bottom: 3.3rem;
}

.gallery__row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gallery__up {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-bottom: 3rem;
  height: 58.4rem;
}

.gallery__up div {
  width: 33.33%;
  height: 100%;
}

.gallery__up div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__column div {
  height: 49%;
  width: 100%;
}

.gallery__column img {
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__middlle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 27.8rem;
  margin-bottom: 3rem;
}

.gallery__middlle div {
  width: 33.3%;
}

.gallery__middlle img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 58.4rem;
  margin-bottom: 4.5rem;
}

.gallery__bottom div {
  width: 33.3%;
}

.gallery__bottom img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 19.8rem;
  height: 6rem;
  background: #2659F6;
  cursor: pointer;
  margin: 0 auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: #FFFFFF;
}

.contacts {
  width: 100%;
}

.contacts__title {
  font-family: "Libre Caslon";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  margin: 0 5rem 3.9rem 5rem;
}

.contacts__info {
  margin: 0 5rem 4.3rem 5rem;
  display: flex;
}

.contacts__info li {
  display: flex;
  align-items: center;
  max-width: 23rem;
  margin-right: 7rem;
}

.contacts__info li svg {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.contacts__info li span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #252736;
}

.contacts__info li:last-child {
  margin-right: 0;
}

.contacts__row {
  width: 100%;
  height: 100%;
  position: relative;
}

.contacts__map {
  width: 100%;
  height: 70rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__about {
  width: 100%;
  height: 97rem;
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
  background: #262626;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  position: relative;
  top: -4rem;
  background-position: 50%;
  background-size: 77.3rem 100%;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(37, 39, 54, 0) 100%);
}

.contacts__form {
  width: 42rem;
  margin-left: 18rem;
  height: 100%;
  padding-top: 17.4rem;
  display: flex;
  flex-direction: column;
}

.contacts__form p {
  font-family: "Libre Caslon";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 4.4rem;
}

.contacts__form span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  margin-bottom: 1.9rem;
  display: block;
}

.contacts__form span:last-child {
  margin-bottom: 4.8rem;
}

.contacts__form input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #2659F6;
  box-sizing: border-box;
  height: 6rem;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.contacts__form textarea {
  display: block;
  display: block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #2659F6;
  box-sizing: border-box;
  height: 15.6rem;
  margin-bottom: 1.5rem;
}

.contacts__form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42.6rem;
  height: 6rem;
  background: #2962FF;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #FFFFFF;
}

>>>>>>> fc2717f43ce209c99e20f062fb1bd730354c17b2
