@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap);html {
  font-size: 0.39vw;
}
@media only screen and (max-width: 1980px) {
  html {
    font-size: 0.52vw;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 0.62vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 2.6vw;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 1.8rem;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  position: relative;
  overflow-x: hidden;
}

body.black {
  background: #252736;
}

.container {
  max-width: 134rem;
  margin: auto;
  width: 100%;
}

.content {
  color: #FFFFFF;
}
.content h2 {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 3.6rem;
}
.content .alignright {
  float: right;
}
.content .alignleft {
  float: left;
}

.content.black {
  color: #252736;
}

.btn {
  background: #2962FF;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
  padding: 1rem 4.6rem;
  cursor: pointer;
  margin: 2.4rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.btn.no-marg {
  margin: 0;
}

.title-h2 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title-h2.center {
  text-align: center;
}

.title-h2.white {
  color: #FFFFFF;
}

.title-h2.black {
  color: #252736;
}

.title-h2.large {
  font-size: 4rem;
}

.title {
  font-family: Libre Caslon Display;
  font-size: 4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: normal;
}

.title.black {
  color: #252736;
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  padding: 10rem 0;
}
.page h1 {
  margin-bottom: 3.3rem;
  font-family: Libre Caslon Display;
  font-size: 4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
}
.page .btn {
  margin: 4.5rem 0 0 0;
}

.page.no-padd {
  padding-bottom: 0;
}

body.black .page h1 {
  color: #fff;
}

.haeder-title {
  width: 100%;
  max-width: 1920px;
  background: url("img/header/title-bg.png") no-repeat;
  background-color: #252736;
  height: 100%;
  height: 929.5px;
  padding-top: 8.5px;
}

.header-top {
  display: flex;
  max-width: 904px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.header-top li {
  list-style: none;
}
.header-top .header-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 683px;
  width: 100%;
  margin-left: 0.7%;
}
.header-top .header-contacts p, .header-top .header-contacts a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}
.header-top .header-contacts div {
  display: flex;
  align-items: center;
}
.header-top .header-contacts .map img {
  width: 22px;
  height: 22px;
  margin-right: 3px;
}
.header-top .header-contacts .clock {
  margin-right: 2.2%;
}
.header-top .header-contacts .clock img {
  width: 15px;
  height: 15px;
  margin-right: 11.85px;
}
.header-top .header-contacts .mail img {
  width: 13.75px;
  height: 11px;
  margin-right: 8.25px;
}
.header-top .lang {
  display: flex;
}
.header-top .lang p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}
.header-top .lang p:nth-child(2) {
  margin: 0 8px;
}

.header {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content 1fr max-content max-content;
  align-items: center;
  gap: 8.7rem;
}
.header .title-logo-img {
  position: relative;
  top: -11px;
}
.header .menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.header .menu li a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.header .tel {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header.black .menu a {
  color: #252736;
}

.main-title {
  margin: 11.8% 0 0 8.4%;
}
.main-title .main-title-text {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 115px;
  color: #FFFFFF;
  max-width: 150px;
}
.main-title .main-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 22.4px;
  margin-left: 67px;
}
.main-title .main-subtitle:before {
  content: "";
  display: block;
  position: relative;
  top: 19px;
  left: -67px;
  width: 34px;
  height: 2px;
  border: 1px solid #2962FF;
  background-color: #2962FF;
}

.footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #252736;
}
.footer .container {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr) 2fr;
  gap: 5.6rem;
  padding-top: 7rem;
  padding-bottom: 5.8rem;
}
.footer-item a {
  font-family: Libre Caslon Display;
  font-size: 1.8rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}
.footer-item-content {
  display: grid;
  gap: 1.3rem;
  margin-top: 2.5rem;
}
.footer-item-content .item {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: 1.3rem;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1.4rem;
}
.footer-item-content .item svg {
  width: 1.8rem;
  height: 1.8rem;
}
.footer-item-content a {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: none;
}
.footer-item:nth-of-type(1) a {
  margin-bottom: 0;
}
.footer-item:nth-of-type(1) img.logo {
  width: 14rem;
  height: 7.4rem;
  margin-bottom: 2rem;
}
.footer-item:nth-of-type(1) .socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 5.4rem;
}
.footer-item:nth-of-type(1) .socials a {
  font-weight: 300;
  font-size: 1.4rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}
.footer-item:nth-of-type(1) .footer-form p {
  font-family: Libre Caslon Display;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.2rem;
}
.footer-item:nth-of-type(1) .footer-form-input {
  display: flex;
}
.footer-item:nth-of-type(1) .footer-form-input input {
  width: 20rem;
  height: 4rem;
  padding: 0 1.5rem;
}
.footer-item:nth-of-type(1) .footer-form-input button.btn {
  height: 4rem;
  margin: 0;
  font-size: 1.6rem;
}
.footer-item:nth-of-type(2) {
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}
.footer-item:nth-of-type(4) {
  -moz-columns: 2;
       columns: 2;
}
.footer .copyright {
  padding-top: 0;
  padding-bottom: 1.2rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright-images {
  display: flex;
  gap: 2.6rem;
  align-items: center;
}
.footer .copyright-images img {
  width: 3.8rem;
  height: 3.8rem;
}

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.modal-window {
  background: #252736;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  padding-top: 10.8rem;
  padding: 10.8rem 8rem 4.8rem;
  position: relative;
}
.modal-window .close {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background: none;
}
.modal-window .close svg {
  width: 2.5rem;
  height: 2.5rem;
}
.modal-window h2 {
  font-family: Libre Caslon Display;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.8rem;
}
.modal-window p {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}
.modal-window input {
  width: 100%;
  height: 6rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-family: Open Sans;
}
.modal-window textarea {
  width: 100%;
  height: 15.6rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-family: Open Sans;
}
.modal-window .form-1 {
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 1.5rem;
}
.modal-window .form-1 .btn {
  margin: 0;
  margin-top: 0.3rem;
  justify-self: center;
}
.modal-window .form-1 span {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  color: #FFFFFF;
}
.modal-window._1 {
  max-width: 66.7rem;
}
.modal-window._2 {
  max-width: 88rem;
}
.modal-window._2 h2 {
  text-align: left;
  font-size: 2.7rem;
}
.modal-window._2 p {
  text-align: left;
}
.modal-window._2 .center {
  gap: 2.5rem;
  margin-bottom: 7.8rem;
}
.modal-window._2 .center button {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  height: 6rem;
  min-width: 16rem;
}
.modal-window._2 .center button:nth-of-type(1) {
  background: #FFFFFF;
  color: #2659F6;
}
.modal-window._2 .line {
  height: 0.1rem;
  background: #A0A0A0;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 16rem;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
}
.modal-footer .item {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  color: #FFFFFF;
  display: grid;
  gap: 1.3rem;
}
.modal-footer .item svg {
  width: 9rem;
  height: 2.5rem;
}

.modal.show {
  display: flex;
}

.news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.news-item img {
  width: 100%;
  height: 22.6rem;
  margin-bottom: 3.3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-item h2 {
  position: relative;
  padding: 0 2rem;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  color: #252736;
}
.news-item h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.3rem;
  height: 3rem;
  background: #2659F6;
}
.news-item span {
  padding: 0 2rem;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.4rem;
  color: #252736;
  display: block;
  margin-bottom: 1.5rem;
}
.news-item p {
  padding: 0 2rem;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.6rem;
  color: #252736;
  margin-bottom: 1.5rem;
}
.news-item a {
  margin: 0 2rem;
  font-family: Open Sans;
  font-size: 2rem;
  color: #252736;
  position: relative;
}
.news-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #2659F6;
}
.news-terms {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  grid-column-start: 4;
  grid-row-start: 1;
}

.term {
  padding: 0.5rem 1rem;
  background: rgba(66, 66, 66, 0.05);
  border-radius: 4px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #252736;
}

.articolo-top {
  position: relative;
  padding: 5.5rem 0;
}
.articolo-top h1 {
  font-family: "Libre";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 90rem;
}
.articolo .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.articolo-content {
  padding: 3rem 0;
}
.articolo-content .date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.articolo-content .nav {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articolo-content .nav a {
  font-size: 20px;
  color: #FFFFFF;
}
.articolo-content .nav a svg {
  margin: 0 1.5rem;
}
.articolo-content .nav a.left {
  color: #646464;
}
.articolo-news {
  margin-top: 7.7rem;
}
.articolo-news-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5.7rem;
}
.articolo-news-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.articolo-news-items .news-item h2, .articolo-news-items span, .articolo-news-items p, .articolo-news-items a {
  color: #FFFFFF !important;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 27.8rem;
  gap: 3rem;
  grid-template-areas: "_1 _3 _4" "_2 _3 _4" "_5 _6 _7" "_8 _9 _10" "_8 _9 _10";
}
.gallery-item {
  width: 100%;
  height: 100%;
  display: none;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-item:nth-of-type(1) {
  grid-area: _1;
  display: block;
}
.gallery-item:nth-of-type(2) {
  grid-area: 2;
  display: block;
}
.gallery-item:nth-of-type(3) {
  grid-area: _3;
  display: block;
}
.gallery-item:nth-of-type(4) {
  grid-area: _4;
  display: block;
}
.gallery-item:nth-of-type(5) {
  grid-area: _5;
  display: block;
}
.gallery-item:nth-of-type(6) {
  grid-area: _6;
  display: block;
}
.gallery-item:nth-of-type(7) {
  grid-area: _7;
  display: block;
}
.gallery-item:nth-of-type(8) {
  grid-area: _8;
  display: block;
}
.gallery-item:nth-of-type(9) {
  grid-area: _9;
  display: block;
}
.gallery-item:nth-of-type(10) {
  grid-area: _10;
  display: block;
}

.page404 {
  position: relative;
  background: #252736;
  height: 100vh;
  overflow-x: hidden;
}
.page404 img {
  position: absolute;
  left: 50%;
  top: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.page404 .line {
  position: absolute;
  width: 40%;
  height: 2px;
  top: 40.5%;
  background: #2659F6;
}
.page404 .line:nth-of-type(1) {
  left: 0;
}
.page404 .line:nth-of-type(2) {
  right: 0;
}
.page404 .center {
  height: 100%;
  width: 100%;
}
.page404-text {
  position: relative;
  z-index: 2;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 2rem;
  color: #FFFFFF;
}
.page404-text p:nth-of-type(1) {
  font-family: Libre Caslon Display;
  font-size: 5.5rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  position: relative;
}
.page404-text p:nth-of-type(2) {
  font-weight: 300;
  font-size: 3rem;
}
.page404-text p:nth-of-type(3) {
  font-weight: 300;
  font-size: 2rem;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
.page404-text a {
  margin: 0;
}

.contacts {
  width: 100%;
}
.contacts__title {
  font-family: "Libre Caslon";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  margin: 0 5rem 3.9rem 5rem;
}
.contacts__info {
  margin-bottom: 4.3rem;
  display: flex;
}
.contacts__info li {
  display: flex;
  margin-right: 7rem;
}
.contacts__info li svg {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-right: 2rem;
}
.contacts__info li span {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #252736;
}
.contacts__row {
  width: 100%;
  height: 100%;
  position: relative;
}
.contacts__map {
  max-width: 144rem;
  margin: 0 auto;
  width: 100%;
  height: 70rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -15rem;
}

button:focus {
  outline: none;
}

.wrapper {
  width: 1920px;
  overflow: hidden;
  margin: 0;
}

body.white .header {
  color: #252736;
}

body.black .header {
  color: #fff;
}

.home-about {
  display: grid;
  grid-template-columns: 54rem 1fr;
  gap: 15rem;
  position: relative;
}
.home-about .line {
  position: absolute;
  width: 150%;
  height: 50%;
  z-index: 1;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  transform: rotate(5deg) translate(-50%, 0);
}
.home-about img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 2;
  margin-top: -20rem;
}
.home-about .content {
  padding-top: 3rem;
  position: relative;
  z-index: 2;
}
.home-about .content h2 {
  margin-bottom: 4.3rem;
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
}
.home-about .content .btn {
  display: block;
  margin-top: 5.3rem;
}
.home-story {
  margin-bottom: 9rem;
}
.home-services {
  background: #252736;
  padding: 11rem 0 20rem;
  position: relative;
}
.home-services-top {
  display: grid;
  grid-template-columns: 53rem 1fr;
  gap: 5.3rem;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  margin-bottom: 9rem;
}
.home-services-top .left h2 {
  margin-bottom: 3rem;
}
.home-services-top .left p {
  font-size: 2.2rem;
  color: #FFFFFF;
}
.home-services-top .right {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #FFFFFF;
}
.home-services-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 3rem;
  margin-bottom: 9rem;
}
.home-services-item {
  position: relative;
  padding-left: 2rem;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  align-items: center;
  align-content: center;
  gap: 2rem;
  color: #FFFFFF;
  transition: 0.5s;
  padding: 2rem 3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.home-services-item h2 {
  font-family: Libre Caslon Display;
  font-size: 1.8rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.home-services-item p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
}
.home-services-item::after {
  content: "";
  width: 0.3rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #2962FF;
}
.home-services-item-hidden {
  visibility: hidden;
  position: absolute;
  background: #2962FF;
  z-index: 10;
  left: -2rem;
  top: -2rem;
  padding: 2rem 3rem;
  width: 32rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  opacity: 0;
  transition: 0.2s;
  transform: scale(0.95);
}
.home-services-item-hidden h2 {
  margin-bottom: 2rem;
}
.home-services-item:hover .home-services-item-hidden {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.home-services-content {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.5;
}
.home-services .line {
  transform: rotate(5deg);
  position: absolute;
  bottom: -13%;
  left: -10%;
  width: 120%;
  height: 23rem;
  background: white;
}
.home-news {
  padding-top: 10rem;
}
.home-news-items {
  margin-top: 5rem;
  margin-bottom: 5.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.story {
  margin-top: 7.3rem;
}

.story-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
}

.story-blocks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  margin-top: 2.05%;
}
.story-blocks .story-item {
  width: 19.8rem;
  position: relative;
  text-align: left;
}
.story-blocks .story-item h3 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  color: #2962FF;
}
.story-blocks .story-item h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: #252736;
  margin-top: 1.3rem;
  min-height: 5.3rem;
}
.story-blocks .story-item p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  color: #252736;
}
.story-blocks .story-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 1.3rem;
  width: 14rem;
  background: #2962FF;
  height: 0.1rem;
}

.review {
  padding-top: 5rem;
  position: relative;
}

.review-container-title {
  display: flex;
  justify-content: space-between;
}
.review-container-title .review-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  max-width: 281px;
  margin: 0 0 0 2px;
}

.reviews-title-info {
  display: flex;
  justify-content: space-between;
  margin-right: 9.8%;
  width: 100%;
  max-width: 642px;
  margin-top: -1px;
}

.info-item h3 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 68px;
  text-transform: uppercase;
  color: #2962FF;
}
.info-item p {
  margin-top: 11px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #252736;
  max-width: 180px;
}

.reviews-container {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}
.reviews-container .review-item {
  height: 243px;
  width: 100%;
  width: 427px;
}

.stars {
  margin-top: 11px;
  margin-left: 27px;
}
.stars:before {
  content: "";
  display: block;
  position: relative;
  top: 24px;
  left: -29px;
  width: 3px;
  height: 30px;
  background-color: #2962FF;
}
.stars img {
  margin: 0 0.5px;
}

.review-item-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #252736;
  max-width: 367px;
  margin: 12px auto 0;
}

.author {
  display: flex;
  justify-content: space-between;
  max-width: 367px;
  margin: 15px auto 0;
  align-items: center;
}
.author .name {
  display: flex;
  align-items: center;
}
.author .name img {
  width: 60px;
  height: 60px;
}
.author .name p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #252736;
  margin-left: 12px;
}

.btns-review {
  display: flex;
  justify-content: space-between;
  margin: 42px auto 0;
  text-align: center;
  width: 100%;
  max-width: 550px;
}
.btns-review .btn1,
.btns-review .btn2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  width: 260px;
  padding: 14px 0;
}
.btns-review .btn1 {
  color: #2962FF;
  border: 1px solid #2962FF;
  box-sizing: border-box;
}
.btns-review .btn2 {
  color: #fff;
  background-color: #2962FF;
}

.down-p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #252736;
  opacity: 0.5;
}

.review .down-p {
  margin-top: 63px;
}

.gallary {
  background-color: #252736;
  margin-top: 56px;
  padding-bottom: 85px;
  padding-top: 9.5rem;
}
.gallary .title {
  padding-bottom: 8rem;
}
.gallary .gallary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-template-areas: "_1 _3 _4" "_2 _3 _4";
  gap: 3rem;
}
.gallary .gallary-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallary .gallary-container img:nth-of-type(1) {
  grid-area: _1;
}
.gallary .gallary-container img:nth-of-type(2) {
  grid-area: _2;
}
.gallary .gallary-container img:nth-of-type(3) {
  grid-area: _3;
}
.gallary .gallary-container img:nth-of-type(4) {
  grid-area: _4;
}
.gallary .btn-gallary {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #2659F6;
  color: #FFFFFF;
  max-width: 179px;
  margin: -4px auto 0;
  padding: 17px 0 15px;
}

.form-container {
  display: flex;
  justify-content: flex-end;
}

.form-column {
  max-width: 427px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 668px;
  margin-top: 14.3%;
  margin-right: 4%;
}

.form-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 70px;
}

.form {
  background-color: #252736;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
  height: 992px;
}

.form-text-container {
  margin-top: -33px;
  margin-bottom: 48px;
}
.form-text-container .form-text:last-child {
  margin-top: 18px;
}

.input-standart {
  width: 427px;
  height: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #CCCCCC;
}

.input-textaerea {
  width: 427px;
  height: 156px;
  resize: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #CCCCCC;
}

.form-submit {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background: #2962FF;
  padding: 13px 0;
}

.form-column-2 {
  position: relative;
  left: -24px;
  top: 68px;
  z-index: 0;
}

.about-me-top h1 {
  margin-top: 8.8rem;
  margin-bottom: 6.8rem;
  font-family: Libre Caslon Display;
  font-size: 4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about-me-top-grid {
  display: grid;
  grid-template-columns: 54rem 1fr;
  gap: 15rem;
}
.about-me-top-grid img {
  width: 100%;
  height: 59rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-me-top-grid .content {
  margin-top: 4rem;
}
.about-me-story {
  text-align: center;
}
.about-me-story h2, .about-me-story h5, .about-me-story p {
  color: #FFFFFF !important;
}
.about-me-story .btn {
  justify-self: center;
  justify-content: center;
}
.about-me-full {
  margin-top: 12rem;
  position: relative;
  padding-bottom: 15rem;
}
.about-me-full-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: #FFFFFF;
  transform: rotate(5deg);
  overflow: hidden;
  width: 120%;
  margin-left: -10%;
}
.about-me-full-bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-me-full-content {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
}
.about-me-full-content-grid {
  display: grid;
  grid-template-columns: 65rem 1fr;
  gap: 14.6rem;
}
.about-me-full-content-grid .content {
  color: #252736;
}
.about-me-full-content-grid .right h3 {
  font-weight: normal;
  font-size: 2.2rem;
  color: #252736;
  margin-bottom: 4rem;
}
.about-me-full-content-grid .right p {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about-me-full-content h2 {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #252736;
  max-width: 65rem;
  margin-bottom: 2.4rem;
}
.about-me-cert {
  background: #252736;
  z-index: 2;
  position: relative;
  padding: 9rem 0;
  margin-top: -8rem;
}
.about-me-cert h2 {
  color: #FFFFFF;
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5rem;
}
.about-me-cert-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.about-me-cert-items img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 58rem;
}
.about-me-blog {
  position: relative;
  padding: 10rem 0;
  margin-top: 5rem;
}
.about-me-blog-bg {
  background: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  margin-left: -10%;
  height: 100%;
  z-index: 2;
  transform: rotate(5deg);
}
.about-me-blog-content {
  position: relative;
  z-index: 3;
}
.about-me-blog-content h2 {
  margin-bottom: 3.9rem;
}
.about-me-blog-content .bottom {
  margin-top: 9.6rem;
}
.about-me-blog-content-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}