body{
	margin: 0 auto;

}
p, h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
button:focus {
  outline: none;
}

.container{
	width: 100%;
	max-width: 1341.66px;
	margin: 0 auto
}

.wrapper{
	width: 1920px;
	overflow: hidden;
	margin: 0;
}

.title{
	width: 100%;
	max-width: 1920px;
	background: url("img/header/title-bg.png") no-repeat;
	background-color: #252736;

	/*transform: rotate(-4.6deg);*/
	height: 100%;
	height: 929.5px;
	padding-top: 8.5px;
	&:after{
		content: '';
		display: block;
		position: relative;
		top: 31.7%;
		left: -5%;
		width: 2500px;
		height: 200px;

		transform: rotate(5.1deg);
		background-color: #fff;
	}
}
.header-top{
	display: flex;
	max-width: 904px;
	justify-content: space-between;
	margin: auto;
	align-items: center;

	li{
		list-style: none;
	}
	.header-contacts{
		display: flex;
		justify-content: space-between;
		max-width: 683px;
		width: 100%;
		margin-left: 0.7%;
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 13px;
			line-height: 18px;
			color: #FFFFFF;
		}
		div{
			display: flex;
			align-items: center;
		}
		.map {
			img{
				width: 22px;
				height: 22px;
				margin-right: 3px;
			}
		}
		.clock {
			margin-right: 2.2%;
			img{
				width: 15px;
				height: 15px;
				margin-right: 11.85px;
			}
		}
		.mail {
			img{
				width: 13.75px;
				height: 11px;
				margin-right: 8.25px;
			}
		}


	}
	.lang{
		display: flex;
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 13px;
			line-height: 18px;
			color: #FFFFFF;
		&:nth-child(2){
			margin: 0 8px;
			}
		}

	}
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.title-logo-img{
		position: relative;
		top: -11px;
	}
	.menu{
		display: flex;
		max-width: 659px;
		top: -8px;
		position: relative;
		justify-content: space-between;
		width: 100%;
		margin-left: -1%;
		.menu-item{
			list-style: none;
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			letter-spacing: 0.05em;
			color: #FFFFFF;
		}
	}
	.tel{
		display: flex;
		width: 100%;
		max-width: 390px;
		justify-content: space-between;
		top: -6px;
		position: relative;
		.tel-div{
			display: flex;
			align-items: center;
			img{
				width: 20px;
				height: 20px;
			}
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			letter-spacing: 0.05em;
			color: #FFFFFF;
			margin-left: 10px;
		}
		.tel-btn{
			width: 100%;
			max-width: 174px;
			height: 100%;
			max-height: 50px;
			padding: 10px 0 10px;
			position: relative;
			top: -2px;
			left: -2px;

			background-color: #2962FF;


			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20.7px;
			line-height: 30px;
			text-align: center;
			color: #FFFFFF;

			letter-spacing: -0.3px;
		}
	}
}

.main-title{
	margin: 11.8% 0 0 8.4%;
	.main-title-text{
		font-family: Libre Caslon Display;
		font-style: normal;
		font-weight: normal;
		font-size: 120px;
		line-height: 115px;
		color: #FFFFFF;
		max-width: 150px
	}
	.main-subtitle{
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 33px;
		letter-spacing: 0.04em;
		color: #FFFFFF;

		margin-top: 22.4px;
		margin-left: 67px;
		&:before{
			content: '';
			display: block;
			position: relative;
			top: 19px;
			left: -67px;
			width: 34px;
			height: 2px;

			border: 1px solid #2962FF;
			background-color: #2962FF;
		}
	}
}

.about{
	position: relative;
	z-index: 1;
	max-height: 427px;
	.container{
		display: flex;
		justify-content: space-between;
	}
	.about-img{
		position: relative;
		top: -208px;
		left: -4px;

	}
	.about-text{
		max-width: 656px;
		margin-top: 23px;
		.about-title{
			font-family: Libre Caslon Display;
			font-style: normal;
			font-weight: normal;
			font-size: 40px;
			line-height: 49px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #252736;
		}
		.about-text-p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 30px;
			color: #252736;
			margin-left: 2px;

			p:first-child{
				margin-top: 44px;
			}
			p:last-child{
				margin-top: 29px;
			}
		}
		.btn-about{
			margin-top: 53px;
			margin-left: 2px;

			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 30px;
			color: #FFFFFF;
			
			text-align: center;
			max-width: 198px;
			padding: 10px 0;

			background-color: #2962FF;

		}
	}
}
.story{
	margin-top: 73px;
}
.story-title{
	font-family: Libre Caslon Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #252736;
}

.story-blocks{
	display: flex;
	max-width: 1575px;
	margin-left: 3%;
	margin-top: 2.05%;

	.story-item{
		width: 198px;
		h3{
			font-family: Libre Caslon Display;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 30px;
			text-transform: uppercase;
			color: #2962FF;
				
		}
		h5{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			color: #252736;
			margin-top: 13px;
			margin-left: 4px;
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 19px;
			color: #252736;
			margin-top: 9px;
			margin-left: 4px;
		}
		&:nth-child(1){
			margin-top: -4.5px;
			h3{
				margin-top: 2px;
				margin-left: 1px;
			}
			h5{
				margin-top: 11px;
			}
		}
		&:nth-child(2){
			margin-left: 1.9%;
			h3{
				margin-left: 1.9%;
			}
			h5{
				margin-top: 15px;
			}
			p{
				margin-top: 27px;
			}
		}
		&:nth-child(3){
			margin-left: 2.2%;
			h5{
				margin-top: 15px;
				margin-left: 0;
			}
		}
		&:nth-child(4){
			margin-left: 1.9%;
			h5{
				margin-left: 1px;
				margin-top: 11px;
			}
			p{
				margin-left: 1px;
			}
		}
		&:nth-child(5){
			margin-left: 1.99%;
			width: 199px;
			h5{
				margin-left: 1px;
				margin-top: 11px;
			}
			p{
				margin-left: 1px;
			}
		}
		&:nth-child(6){
			margin-left: 1.9%;
			h5{
				margin-left: 1px;
				margin-top: 11px;
			}
			p{
				margin-left: 1px;
			}
		}
		&:nth-child(7){
			margin-left: 2%;
			width: 199px;
			h5{
				margin-left: 1px;
				margin-top: 11px;
			}
			p{
				margin-left: 1px;
			}
		}
	}
	#story-item2{
		h3{
			&:after{
			content: '';
			display: block;
			position: relative;
			top: -17px;
			left: 62px;
			width: 147px;
			height: 2px;

			background-color: #5F89FF;
			}
		}
	}
	#story-item3{
		h3{
			&:after{
			content: '';
			display: block;
			position: relative;
			top: -17px;
			left: 64px;
			width: 147px;
			height: 2px;

			background-color: #5F89FF;
			}
		}
	}
	#story-item1,
	#story-item4,
	#story-item5,
	#story-item6{
		h3{
			&:after{
			content: '';
			display: block;
			position: relative;
			top: -17px;
			left: 71px;
			width: 140px;
			height: 2px;

			background-color: #5F89FF;
			}
		}
	}
	#story-item7{
		h3{
			&:after{
			content: '';
			display: block;
			position: relative;
			top: -17px;
			left: 71px;
			width: 445px;
			height: 2px;

			background-color: #5F89FF;
			}
		}
	}
	#story-item1{
		h3{
			&:before{
			content: '';
			display: block;
			position: relative;
			top: 17px;
			left: -89px;
			width: 70px;
			height: 2px;

			background-color: #5F89FF;
			}
		}
	}
}


.service{
	background-color: #252736;
	margin-top: 95px;
}
.service-container{
	padding-top: 109.5px;
	display: flex;
	justify-content: space-between;
}

.service-title{
	font-family: Libre Caslon Display;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.service-subtitle{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin-top: 28px;
}

.service-title-colum2{
	max-width: 757px;
	margin-right: 4px;
}
.service-title-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
}



.review-container-title{
	display: flex;
	justify-content: space-between;
	.review-title{
		font-family: Libre Caslon Display;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 49px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #252736;
		max-width: 281px;
		margin: 0 0 0 2px;
	}
}


.reviews-title-info{
	display: flex;
	justify-content: space-between;
	margin-right: 9.8%;
	width: 100%;
	max-width: 642px;
	margin-top: -1px;
}
.info-item{
	h3{
		font-family: Libre Caslon Display;
		font-style: normal;
		font-weight: normal;
		font-size: 55px;
		line-height: 68px;
		text-transform: uppercase;
		color: #2962FF;
	}
	p{
		margin-top: 11px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		color: #252736;
		max-width: 180px;
	}
}

.reviews-container{
	display: flex;
	margin-top: 70px;
	justify-content: space-between;
	.review-item{
		height: 243px;
		width: 100%;
		width: 427px;
	}
}

.stars{
	margin-top: 11px;
	margin-left: 27px;
	&:before{
		content: '';
		display: block;
		position: relative;
		top: 24px;
		left: -29px;
		width: 3px;
		height: 30px;

		background-color: #2962FF;
	}
	img{
		margin: 0 0.5px;
	}
}

.review-item-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;

	color: #252736;

	max-width: 367px;
	margin: 12px auto 0;
}
.author{
	display: flex;
	justify-content: space-between;
	max-width: 367px;
	margin: 15px auto 0;
	align-items: center;
	.name{
		display: flex;
		align-items: center;
		img{
			width: 60px;
			height: 60px;
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 30px;
			color: #252736;
			margin-left: 12px;
		}
	}
}

.btns-review{
	display: flex;
	justify-content: space-between;
	margin: 42px auto 0;
	text-align: center;
	width: 100%;
	max-width: 550px;

	.btn1,
	.btn2{
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		width: 260px;
		padding: 14px 0;
	}
	.btn1{
		color: #2962FF;
		border: 1px solid #2962FF;
		box-sizing: border-box;
	}
	.btn2{
		color: #fff;
		background-color: #2962FF;
	}
}

.down-p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #252736;
	opacity: 0.5;
}

.review{
	.down-p{
		margin-top: 63px;
	}
}

.gallary{
	background-color: #252736;
	margin-top: 56px;
	padding-bottom: 85px;
	.gallary-title{
		font-family: Libre Caslon Display;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 49px;
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #FFFFFF;

		padding-top: 91px;
	}
	.gallary-container{
		width: 100%;
		max-width: 1341px;
		display: flex;
		justify-content: space-between;
		margin: 49px 0 0 -20px;
	}
	.gallary-column{
		img{
			width: 489px;
			height: 340px;
			margin: 0;
			&:last-child{
				margin-top: -38px;
			}
		}
	}
	.gallary-columns{
		display: flex;
		margin-left: -31.7px;
		margin-top: -1px;
		img{
			&:last-child{
				margin-left: -31.7px;

			}
		}
	}
	.btn-gallary{
		font-family: Open Sans;
		font-size: 20px;
		line-height: 30px;
		text-align: center;

		background-color: #2659F6;
		color: #FFFFFF;

		max-width: 179px;

		margin: -4px auto 0;
		padding: 17px 0 15px;
	}
}



.blog-title{
	font-family: Libre Caslon Display;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 49px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #252736;

	margin-top: 91px;
}
.blog-container{
	display: flex;
	justify-content: space-between;
	margin: 39px 0 0 1px;
	.blog-item{
		&:nth-child(2){
			margin-left: 0.5%;
		}
		&:nth-child(3){
			margin-right: -2%;
		}
		img{
			width: 427px;
			height: 278px;
		}
		.blog-subtitle{
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;

			color: #252736;

			max-width: 380px;
			margin-top: 35px;
			margin-left: 26px;
			&:after{
				content: '';
				display: block;
				position: relative;
				top: -45px;
				left: -30px;
				width: 3px;
				height: 30px;

				background-color: #2962FF;
			}
		}
		.blog-date{
			position: relative;
			left: 25px;
			top: -24px;

			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 19px;
			color: #252736;
		}
		.blog-text{
			margin-left: 25px;
			margin-top: -7px;

			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;

			color: #252736;
		}
		.btn-full{
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 30px;
			color: #252736;
			margin-left: 25px;
			margin-top: 24px;
			&:after{
				content: '';
				display: block;
				position: relative;
				top: -2px;
				left: 0px;
				width: 170px;
				height: 1px;

				border: 0px solid #2962FF;
				background-color: #2962FF;
				}
		}
	}
}
.blog-btn{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;

	background-color: #2455EC;
	max-width: 228px;

	margin: 95px auto 0;
	padding: 15px 0; 
}



.form-container{
	display: flex;
	justify-content: flex-end;
}

.form-column{
	max-width: 427px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 668px;

	margin-top: 14.3%;
	margin-right: 4%;
}


.form-title{
	font-family: Libre Caslon Display;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	color: #FFFFFF;
}
.form-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;

	margin-top: 70px;
}

.form{
	background-color: #252736;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  	clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
	height: 992px;
}
.form-text-container{
	margin-top: -33px;
	margin-bottom: 48px;
	.form-text{
		&:last-child{
			margin-top: 18px;
		}
	}
}

.input-standart{
	width: 427px;
	height: 60px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #CCCCCC;
}


.input-textaerea{
	width: 427px;
	height: 156px;
	resize: none;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #CCCCCC;
}


.form-submit{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;

	background: #2962FF;

	padding: 13px 0;
}

.form-column-2{
	position: relative;
	left: -24px;
	top: 68px;
	z-index: 0;
}