button:focus {
  outline: none;
}

.wrapper{
	width: 1920px;
	overflow: hidden;
	margin: 0;
}

body.white .header{
	color: #252736;
}
body.black .header{
	color: #fff;
}

.home{
	&-about{
		display: grid;
		grid-template-columns: 54rem 1fr;
		gap: 15rem;
		position: relative;
		.line{
			position: absolute;
			width: 150%;
			height: 50%;
			z-index: 1;
			top: -1rem;
			left: 50%;
			transform: translate(-50%, 0);
			background: #fff;
			transform: rotate(5deg) translate(-50%, 0);
		}
		img{
			width: 100%;
			object-fit: contain;
			position: relative;
			z-index: 2;
			margin-top: -20rem;
		}
		.content{
			padding-top: 3rem;
			position: relative;
			z-index: 2;
			h2{
				margin-bottom: 4.3rem;
				font-family: Libre Caslon Display;
				font-style: normal;
				font-weight: normal;
				font-size: 4rem;
				letter-spacing: 0.04em;
				text-transform: uppercase;
				color: #252736;
			}
			.btn{
				display: block;
				margin-top: 5.3rem;
			}
		}
	}
	&-story{
		margin-bottom: 9rem;
	}
	&-services{
		background: $colorm;
		padding: 11rem 0 20rem;
		position: relative;
		&-top{
			display: grid;
			grid-template-columns: 53rem 1fr;
			gap: 5.3rem;
			grid-auto-rows: max-content;
			margin-bottom: 9rem;
			.left{
				h2{
					margin-bottom: 3rem;
				}
				p{
					font-size: 2.2rem;
					color: #FFFFFF;
				}
			}
			.right{
				font-weight: 300;
				font-size: 1.6rem;
				line-height: 3rem;
				color: #FFFFFF;
			}
		}
		&-items{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: max-content;
			gap: 3rem;
			margin-bottom: 9rem;
		}
		&-item{
			position: relative;
			padding-left: 2rem;
			display: grid;
			grid-auto-rows: max-content;
			align-items: center;
			align-content: center;
			gap: 2rem;
			color: #FFFFFF;
			transition: .5s;
			padding: 2rem 3rem;
			height: max-content;
			h2{
				font-family: Libre Caslon Display;
				font-size: 1.8rem;
				letter-spacing: 0.04em;
				text-transform: uppercase;
			}
			p{
				font-family: Open Sans;
				font-style: normal;
				font-weight: 300;
				font-size: 1.4rem;
			}
			&::after{
				content: "";
				width: .3rem;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background: #2962FF;
			}
			&-hidden{
				visibility: hidden;
				position: absolute;
				background: #2962FF;
				z-index: 10;
				left: -2rem;
				top: -2rem;
				padding: 2rem 3rem;
				width: 32rem;
				height: max-content;
				opacity: 0;
				transition: .2s;
				transform: scale(.95);
				h2{
					margin-bottom: 2rem;
				}
			}
			&:hover{
				.home-services-item-hidden{
					visibility: visible;
					opacity: 1;
					transform: scale(1);
				}
			}
		}
		&-content{
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 24px;
			color: #FFFFFF;
			opacity: 0.5;
		}
		.line{
			transform: rotate(5deg);
			position: absolute;
			bottom: -13%;
			left: -10%;
			width: 120%;
			height: 23rem;
			background: white;
		}
	}
	&-news{
		padding-top: 10rem;
		&-items{
			margin-top: 5rem;
			margin-bottom: 5.6rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 3rem;
		}
	}
}
.story{
	margin-top: 7.3rem;
}
.story-title{
	font-family: Libre Caslon Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #252736;
}

.story-blocks{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 3rem;
	margin-top: 2.05%;
	.story-item{
		width: 19.8rem;
		position: relative;
		text-align: left;
		h3{
			font-family: Libre Caslon Display;
			font-style: normal;
			font-weight: normal;
			font-size: 2.4rem;
			color: #2962FF;
		}
		h5{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 1.6rem;
			color: #252736;
			margin-top: 1.3rem;
			min-height: 5.3rem;
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 1.4rem;
			color: #252736;
		}
		&::after{
			content: "";
			position: absolute;
			right: 0;
			top: 1.3rem;
			width: 14rem;
			background: #2962FF;
			height: .1rem;
		}
	}
}
.review{
	padding-top: 5rem;
	position: relative;
}
.review-container-title{
	display: flex;
	justify-content: space-between;
	.review-title{
		font-family: Libre Caslon Display;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 49px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #252736;
		max-width: 281px;
		margin: 0 0 0 2px;
	}
}


.reviews-title-info{
	display: flex;
	justify-content: space-between;
	margin-right: 9.8%;
	width: 100%;
	max-width: 642px;
	margin-top: -1px;
}
.info-item{
	h3{
		font-family: Libre Caslon Display;
		font-style: normal;
		font-weight: normal;
		font-size: 55px;
		line-height: 68px;
		text-transform: uppercase;
		color: #2962FF;
	}
	p{
		margin-top: 11px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		color: #252736;
		max-width: 180px;
	}
}

.reviews-container{
	display: flex;
	margin-top: 70px;
	justify-content: space-between;
	.review-item{
		height: 243px;
		width: 100%;
		width: 427px;
	}
}

.stars{
	margin-top: 11px;
	margin-left: 27px;
	&:before{
		content: '';
		display: block;
		position: relative;
		top: 24px;
		left: -29px;
		width: 3px;
		height: 30px;

		background-color: #2962FF;
	}
	img{
		margin: 0 0.5px;
	}
}

.review-item-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;

	color: #252736;

	max-width: 367px;
	margin: 12px auto 0;
}
.author{
	display: flex;
	justify-content: space-between;
	max-width: 367px;
	margin: 15px auto 0;
	align-items: center;
	.name{
		display: flex;
		align-items: center;
		img{
			width: 60px;
			height: 60px;
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 30px;
			color: #252736;
			margin-left: 12px;
		}
	}
}

.btns-review{
	display: flex;
	justify-content: space-between;
	margin: 42px auto 0;
	text-align: center;
	width: 100%;
	max-width: 550px;

	.btn1,
	.btn2{
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		width: 260px;
		padding: 14px 0;
	}
	.btn1{
		color: #2962FF;
		border: 1px solid #2962FF;
		box-sizing: border-box;
	}
	.btn2{
		color: #fff;
		background-color: #2962FF;
	}
}

.down-p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #252736;
	opacity: 0.5;
}

.review{
	.down-p{
		margin-top: 63px;
	}
}

.gallary{
	background-color: #252736;
	margin-top: 56px;
	padding-bottom: 85px;
	padding-top: 9.5rem;
	.title{
		padding-bottom: 8rem;
	}
	.gallary-container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: max-content;
		grid-template-areas: "_1 _3 _4" "_2 _3 _4";
		gap: 3rem;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			&:nth-of-type(1){
				grid-area: _1;
			}
			&:nth-of-type(2){
				grid-area: _2;
			}
			&:nth-of-type(3){
				grid-area: _3;
			}
			&:nth-of-type(4){
				grid-area: _4;
			}
		}
	}
	.btn-gallary{
		font-family: Open Sans;
		font-size: 20px;
		line-height: 30px;
		text-align: center;

		background-color: #2659F6;
		color: #FFFFFF;

		max-width: 179px;

		margin: -4px auto 0;
		padding: 17px 0 15px;
	}
}

.form-container{
	display: flex;
	justify-content: flex-end;
}

.form-column{
	max-width: 427px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 668px;

	margin-top: 14.3%;
	margin-right: 4%;
}


.form-title{
	font-family: Libre Caslon Display;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	color: #FFFFFF;
}
.form-text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;

	margin-top: 70px;
}

.form{
	background-color: #252736;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  	clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
	height: 992px;
}
.form-text-container{
	margin-top: -33px;
	margin-bottom: 48px;
	.form-text{
		&:last-child{
			margin-top: 18px;
		}
	}
}

.input-standart{
	width: 427px;
	height: 60px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #CCCCCC;
}


.input-textaerea{
	width: 427px;
	height: 156px;
	resize: none;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #CCCCCC;
}


.form-submit{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;

	background: #2962FF;

	padding: 13px 0;
}

.form-column-2{
	position: relative;
	left: -24px;
	top: 68px;
	z-index: 0;
}